<!DOCTYPE html>
<html>
  <head>
    <title>Raonomics admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
  </head>
  <body>
  	
    <div class="container">
	    <form method="post" action="/adm/login">
	    	id : <input type="text" name="id"></br>
			pw : <input type="password" name="pw">    
			<input type="submit" value="로그인">	
	    </form>
    </div>
    
   </body>
</html>
