<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 재무상담</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_consulting.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<% include ../top %>
<!--배너뿌림-->
<div class="mob-main-banner">
				<!-- Swiper -->
				<div class="swiper-container">
						<div class="swiper-wrapper">
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner1.jpg"></div>
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner2.jpg"></div>
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner1.jpg"></div>
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner2.jpg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
				</div>
</div>
<div class="web-main-banner container">
				<!-- Swiper -->
				<div class="swiper-container">
						<div class="swiper-wrapper">
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner1.jpg"></div>
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner2.jpg"></div>
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner1.jpg"></div>
								<div class="swiper-slide"><img class="img-responsive" src="/page_imgs/main_img/banner2.jpg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
				</div>
</div>

<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
				effect: 'fade',
        centeredSlides: true,
        autoplay: 2000,
        autoplayDisableOnInteraction: false
    });
    </script>

<div class="consulting-company container">
		<div class="row" align="center">
				<div class="col-lg-4 col-sm-6">
					
					<div class="img"><a href="/consulting_detail"><img class="img-responsive" src="../page_imgs/fixed_img/logo.jpg"></a></div>
				    <div class="title"><a href="/consulting_detail">한국스마트재무설계</a></div>
				</div>
				<div class="col-lg-4 col-sm-6"><div class="img"></div> <div class="title">보험료 재테크 센터</div></div>
				<div class="col-lg-4 col-sm-6"><div class="img"></div> <div class="title">재무보좌관</div></div>
				<div class="col-lg-4 col-sm-6"><div class="img"></div> <div class="title">굿모닝리치 </div></div>
				<div class="col-lg-4 col-sm-6"><div class="img"></div> <div class="title">한국리더스 무료재무설계센터</div></div>
				<div class="col-lg-4 col-sm-6"><div class="img"></div> <div class="title">리더스리치</div></div>
		</div>
</div>

<% include ../bottom %>
</body>
</html>
