<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <p>112SDF GDSFds fasdf asdf asdf  GS32 AA F GDF FDS GDss dfdFG </p>
    <p>sdakjfsadjfkldsj</p>
    <p>sdakjfsadjfkldsj</p>

  </body>
</html>
