.consulting-detail{font-family: 'Nanum Gothic', serif; }
.consulting-detail .title p{font-size:20px; color:#1b87c9;  font-weight:bold; margin:30px 0 30px 0;}
.consulting-detail .site p{font-size:16px; color:#333333; font-weight:600;}
.consulting-detail .site img{width:100%;}
.consulting-detail .visit {width:100%; height:85px; background-color:#1b87c9; margin:50px 0 50px 0; color:#FFFFFF; font-size:24px; text-align:center; padding-top:25px; font-weight:bold;}
.consulting-detail .visit a{ display: block; width:100%; height:85px; color:#FFFFFF;}

.consulting-detail .intro p{font-size:20px; color:#1b87c9; font-weight:bold;}
.consulting-detail .intro .intro-in p{width:100%; height:auto; background-color:#f0f0f0; color:#666666; font-size:16px; line-height:2.0em; padding:30px 0 50px 30px; margin-bottom:50px;}
.consulting-detail .analysis p{font-size:20px; color:#1b87c9; font-weight:bold;}
.consulting-detail .analysis .analysis-in p{width:100%; height:auto; background-color:#f0f0f0; color:#666666; font-size:16px; line-height:2.0em; padding:30px 0 50px 30px;}

@media all and (max-width:1024px) {
.main-menu{display:none;}
.consulting-detail .title p{font-size:18px; color:#1b87c9;  font-weight:bold; margin:20px 0 20px 0;}
.consulting-detail .site p{font-size:14px; color:#333333; font-weight:600;}
.consulting-detail .site img{width:100%;}
.consulting-detail .visit{width:100%; height:55px; background-color:#1b87c9; margin:30px 0 50px 0; color:#FFFFFF; font-size:18px; text-align:center; padding-top:15px; font-weight:bold;}
.consulting-detail .intro p{font-size:18px; color:#1b87c9; font-weight:bold;}
.consulting-detail .intro .intro-in p{width:100%; height:auto; background-color:#f0f0f0; color:#666666; font-size:14px; line-height:2.0em; padding:10px 0 30px 10px; margin-bottom:30px;}
.consulting-detail .analysis p{font-size:18px; color:#1b87c9; font-weight:bold;}
.consulting-detail .analysis .analysis-in p{width:100%; height:auto; background-color:#f0f0f0; color:#666666; font-size:14px; line-height:2.0em; padding:10px 0 30px 10px;}
}