.main-menu{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; font-family: 'Nanum Gothic', serif; width:100% !important; height:700px; padding-top:50px;}
.main-menu .bg{background-color: rgba( 255, 255, 255, 0.7 ); width:600px; height:600px; border-radius:10px;}
.main-menu .bg .col-xs-12{float:none !important;}
.main-menu .bg .mainlogoimg{margin:80px 0 40px 0; width:140px;}
.main-menu .bg .btn-join{width:70%; height:70px; background-color:#1b87c9; color:#FFFFFF; font-size:24px; margin:20px 0 30px 0; padding-top:20px;}
.main-menu .bg .btn-facejoin{width:70%; height:70px; background-color:#546c9b; color:#FFFFFF; font-size:24px; margin-bottom:30px; padding-top:20px;}
.main-menu .bg .btn-kakaojoin{width:70%; height:70px; background-color:#c7b100; color:#FFFFFF; font-size:24px; padding-top:20px;}

@media all and (max-width:1024px) {
.main-menu {display: block !important;}
.main-menu .bg{width:90%;}
.main-menu .bg .mainlogoimg{width:130px; margin-top:100px;}
.main-menu .bg .btn-join{height:70px; padding-top:25px; font-size:17px;}
.main-menu .bg .btn-facejoin{height:70px; padding-top:25px; font-size:17px;}
.main-menu .bg .btn-kakaojoin{height:70px; padding-top:25px; font-size:17px;}
}