.form-control{display:inline; width:100px; height:30px; color:#333333;}
.main-menu{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; font-family: 'Nanum Gothic', serif; width:100% !important; height:700px; padding-top:50px;}
.main-menu .bg{background-color: rgba( 255, 255, 255, 0.7 ); width:600px; height:600px; border-radius:10px;}
.main-menu .bg .join{width:75%; padding-top:30px; font-family: 'Nanum Gothic', serif;}
.join .join-step img{margin-left:20px; width:85px;}
.step3 .img{margin:100px 0 40px 0;}
.step3 .text{font-size:36px; margin-bottom:60px;}


@media all and (max-width:1024px) {
.main-menu {display: block !important;}
.main-menu .bg{width:95%;}
.main-menu .bg .join{width:90%; padding-top:80px;}
.join .join-step img{margin-left:10px; width:60px;}
.step3 .img{margin:100px 0 40px 0;}
.step3 .img img{width:60px;}
.step3 .text{font-size:20px; margin-bottom:60px;}
.step3 .ok img{width:80px;}
}