.form-control{color:#333333;}
.main-menu{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; font-family: 'Nanum Gothic', serif; width:100% !important; height:700px; padding-top:50px;}
.main-menu .bg{background-color: rgba( 255, 255, 255, 0.7 ); width:600px; height:600px; border-radius:10px;}
.main-menu .bg .col-xs-12{float:none !important;}
.main-menu .bg .email input{border-bottom:solid 2px #1b87c9; border-top:0; border-left:0; border-right:0; margin:70px 0 10px 0;}
.main-menu .bg .password input{border-bottom:solid 2px #1b87c9;  border-top:0; border-left:0; border-right:0;}
.main-menu .bg .btn-login{width:75%; height:70px; background-color:#1b87c9; color:#FFFFFF; font-size:24px; margin:20px 0 20px 0; padding-top:20px;}
.main-menu .bg .text{width:75%; color:#1b87c9; font-size:18px; font-weight:300; margin-bottom:50px; text-align:left;}
.main-menu .bg .btn-facelogin{width:75%; height:70px; background-color:#546c9b; color:#FFFFFF; font-size:24px; margin-bottom:20px; padding-top:20px;}
.main-menu .bg .btn-kakaologin{width:75%; height:70px; background-color:#c7b100; color:#FFFFFF; font-size:24px; padding-top:20px;}

@media all and (max-width:1024px) {
.main-menu {display: block !important;}
.main-menu .bg{width:90%;}
.main-menu .bg .email input{margin-top:80px;}
.main-menu .bg .btn-login{height:70px; padding-top:25px; font-size:18px;}
.main-menu .bg .text{font-size:16px;}
.main-menu .bg .btn-facelogin{height:70px; padding-top:25px; font-size:18px;}
.main-menu .bg .btn-kakaologin{height:70px; padding-top:25px; font-size:18px;}
}