.mob-main-banner{display:none;}
.main-menu{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; font-family: 'Nanum Gothic', serif; width:100% !important; height:800px; padding-top:50px;}
.main-menu .bg{background-color: rgba( 255, 255, 255, 0.7 ); width:600px; height:600px; border-radius:10px;}
.main-menu .bg .join{width:75%; padding-top:30px;}
.join .join-step img{margin-left:20px; width:85px;}
.join .step1 .service p{font-family: 'Nanum Gothic', serif; font-size:22px; color:212121; font-weight:bold; margin:25px 0 10px 0;}
.join .step1 .service textarea{width:100%; height:150px;}
.join .step1 .privacy p{font-family: 'Nanum Gothic', serif; font-size:22px; color:212121; font-weight:bold; margin:25px 0 10px 0;}
.join .step1 .privacy textarea{width:100%; height:150px;}
.join .step1 .step1-btn{width:100%;}
.join .step1 .step1-btn div img{margin-top:20px;}

@media all and (max-width:1024px) {
.main-menu {display: block !important;}
.main-menu .bg{width:95%;}
.main-menu .bg .join{width:90%; padding-top:25px;}
.join .join-step img{margin-left:10px; width:60px;}
.join .step1 .service p{font-size:16px;}
.join .step1 .service textarea{height:120px;}
.join .step1 .privacy p{font-size:16px;}
.join .step1 .privacy textarea{height:120px;}
.join .step1 .step1-btn{width:100%;}
.join .step1 .step1-btn div img{margin-top:20px; height:30px;}
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}