.apply{background-color:#f4f4f4; width:100%; height:auto; padding:80px 0; margin-top:50px;}
.apply .title p{font-size:24px; font-weight:bold;}
.apply .line1{background-color:#1b87c9; width:300px; height:2px; margin-top:20px; margin-bottom:20px;}
.apply .price{font-size:36px; font-weight:bold; color:#FF0000;}
.apply .price input{width:300px; margin-right:10px;}
.apply .btn-coupon button{background-color: initial; width:120px; height:35px; border-radius:2px; color:#1b87c9; font-weight:bold; font-size:16px; border:#1b87c9 1px solid; margin:20px; 0;}
.apply-input{font-size:18px; font-weight:bold;}
.apply-input .row{margin:50px 0;}
.apply-input .row span{display:inline-block; width:120px;}
.apply-input .name input{border:#1b87c9 2px solid; width:50%; height:40px; padding:5px; font-size:20px;}
.apply-input .cell input{border:#1b87c9 2px solid; width:50%; height:40px; padding:5px; font-size:20px;}
.apply-input .cell p{color:#FF0000; margin-top:15px; margin-left:125px; font-size:14px; margin-bottom:20px;}
.apply-input .mail input{border:#1b87c9 2px solid; width:50%; height:40px; padding:5px; font-size:20px;}
.apply-input .job input{border:#1b87c9 2px solid; width:50%; height:40px; padding:5px; font-size:20px; margin-bottom:50px;}
.apply-input .route input{border:#1b87c9 2px solid; width:50%; height:40px; padding:5px; font-size:20px;}
.apply-input .btn-apply{background-color:#1b87c9; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:100px 0 50px 0;}
.apply-input .btn-apply a{color:#fff;}
.apply .deposit-account{font-size:30px; font-weight:bold; color:#212121; margin-top:30px; line-height:1.5em;}
.apply-cancle{border:#ececec 3px solid; width:600px; padding:30px 15px 15px 15px; font-size:16px; font-weight:bold; margin-bottom:100px;}
.apply-cancle .cancle-con{font-size:14px; color:#666;line-height:2.0em}
.modal-title{color:#1b87c9;}
.modal-body{margin-top:20px;}
.modal-body input{border:#1b87c9 2px solid; height:50px; width:80%; border-top:none; border-left:none; border-right:none;}
.modal-body button{background-color:#1b87c9; width:55px; height:38px; border-radius:2px; color:#fff; font-weight:bold; font-size:16px; border:#1b87c9 1px solid; margin-left:10px;}
.modal-body p{font-size:16px; color:#f24646; margin:30px 0 20px 0; width:120px; height:auto; border-radius:15px; background-color:#ececec; padding:10px;}
.modal-lg{max-width:500px;}

@media all and (max-width:1024px) {
.modal-lg{width:95%}
.modal-body{padding:2px !important;}
.modal-body input{width:220px;}
.line{height:1px;}
.apply .deposit-account{padding:0 10px 0 10px; font-size:22px;}
.apply .price{font-size:30px; font-weight:bold; color:#FF0000;}
.apply .price input{width:200px;}
.apply-cancle{width:95%;}
.apply-input{width:100% !important; font-size:16px;}
.apply-input .row span{width:100px;}
.apply-input .name input{width:62%; margin-bottom:20px;}
.apply-input .cell input{width:62%;}
.apply-input .cell p{color:#FF0000; margin-left:100px; font-size:14px; margin-bottom:40px;}
.apply-input .mail input{width:62%; margin-bottom:20px;}
.apply-input .job input{width:62%; margin-bottom:20px;}
.apply-input .route input{width:62%;}
.apply-input .btn-apply{margin-top:60px; margin-bottom:20px;}
.cancle p{width:95% !important;}
}