.mob-main-banner{display:none;}
.web-main-banner{margin:50px 0 50px 0;}
.consulting-company .row div{font-family: 'Nanum Gothic', serif; font-size:18px;}
.consulting-company .row div .img{width:100%; height:200px; background-color:#FFFF99; border-top:1px solid #2f8ecd; border-left:1px solid #2f8ecd; border-right:1px solid #2f8ecd;}
.consulting-company .row div .title{padding:20px 0 20px 0; margin-bottom:35px; border-bottom:1px solid #2f8ecd; border-left:1px solid #2f8ecd; border-right:1px solid #2f8ecd;}


@media all and (max-width:1024px) {
.main-menu{display:none;}
.web-main-banner{display:none;}
.mob-main-banner{display:block;}
.mob-main-banner{margin:10px 0 50px 0;}

}

