.finance-apply{background-color:#ececec; width:100%; height:auto; padding:70px 0;}
.finance-apply p{font-size:18px; font-weight:bold; color:#666; margin-right:10px;}
.finance-apply img{height:120px;}
.apply1{margin:80px 0;}
/*.apply1 .title1{font-size:16px; color:#ff0000; font-weight:bold; text-align:center;}
.apply1 .title2{font-size:20px; color:#666666; font-weight:bold; line-height:2.0em; text-align:center; margin-top:30px;}
.apply1 .title2 span{font-size:26px; color:#1b87c9;}
.apply1 .title2 .font{font-size:26px; color:#666666;}
.entry p{font-size:18px; color:#ffffff; font-weight:bold; text-align:center;}*/
.apply1 .title1 img{width:390px;}
.apply1 .title2 img{width:680px;}
.entry img{width:550px;}
.apply1 .title2{margin-top:50px;}
.entry{width:100%; height:auto; padding:30px 0; background-color:#ce2ca8;}
.apply-input{font-size:16px; font-weight:bold;}
.apply-input .row{margin:50px 0; border:#cccccc 2px solid; margin-top:50px; padding:30px; width:70%;}
.apply-input .row span{display:inline-block; width:120px;}
.apply-input .name, .cell, .mail, .job, .route{height:100px;}
.apply-input .name input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px;}
.apply-input .cell input{border:#1b87c9 1px solid; width:70px; height:30px; padding:5px; font-size:16px; margin:0 10px;}
.apply-input .cell select{border:#1b87c9 1px solid; width:65px; height:30px; margin-right:10px; font-size:16px;}
.apply-input .cell p{color:#FF0000; margin-top:15px; margin-left:125px; font-size:14px; margin-bottom:16px;}
.apply-input .mail input{border:#1b87c9 1px solid; height:30px; padding:5px; font-size:16px; width:130px;}
.apply-input .mail select{border:#1b87c9 1px solid; height:30px; font-size:16px; width:130px;}
.apply-input .mail .mail1{margin-right:10px;}
.apply-input .job input{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px;}
.apply-input .job select{border:#1b87c9 1px solid; width:150px; height:30px; margin-right:10px; font-size:16px;}
.apply-input .route input{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px;}
.apply-input .want textarea{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px; width: 100%; height: 200px; margin-bottom:30px;}
.apply-input .want-ex p{border:#cccccc 1px solid; color:#666; line-height:2.0em; padding:10px;}
.apply-input .btn-apply{background-color:#1b87c9; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:50px 0 70px 0;}
.apply-input .btn-apply a{color:#fff;}
@media all and (max-width:1024px) {
.line{height:1px;}

.finance-apply{padding:70px 0 10px 0;}
.finance-apply img{height:100px;}
.apply1{margin:50px 0;}
/*.apply1 .title1{font-size:12px;}
.apply1 .title2{font-size:16px;}
.apply1 .title2 span{font-size:20px;}
.apply1 .title2 .font{font-size:20px;}
.entry p{font-size:14px;}*/
.apply1 .title1{padding:0 5px;}
.apply1 .title2{padding:0 5px; margin-top:30px;}
.entry{padding:20px 5px;}
.apply-input{width:100% !important; font-size:16px;}
.apply-input .row{margin:50px 5px 0 5px; padding:30px 5px; width:97%;}
.apply-input .row span{width:100px;}
.apply-input .name{height:100px;}
.apply-input .cell{height:140px;}
.apply-input .mail{height:160px;}
.apply-input .job{height:100px;}
.apply-input .route{height:100px;}
/*.apply-input .name span{display:block; margin-bottom:20px;}*/
.apply-input .cell span{display:block; margin-bottom:20px;}
.apply-input .cell input{margin:0 5px;}
.apply-input .mail span{display:block; margin-bottom:20px;}
/*.apply-input .mail input{width:110px;}*/
.apply-input .mail select{ margin-top:5px;}
.apply-input .mail .mail1{margin-right:5px;}
.apply-input .job span{display:block; margin-bottom:20px;}
.apply-input .route span{display:block; margin-bottom:20px;}
/*.apply-input .route input{width:50%}*/
.apply-input .btn-apply{margin-top:60px; margin-bottom:50px;}

}

