.margin0{margin:0 !important;}
.padding0{padding:0 !important;}
.mob-header{display:none;} 
.mob-banner{display:none;}
.contents{font-family: 'Nanum Gothic', serif; color:#212121;}
.contents .title{font-size:36px; font-weight:bold; line-height:1.2em; margin:100px 0 50px 0;}
.contents .icon-menu{margin-bottom:20px;}
.contents .date-view span{margin-right:5px; font-size:16px;}
.contents .date-view span.bar{color:#ce2ca8;}
.contents .editor{font-size:16px;}
.contents .line-1px{width:100%; height:1px; background-color:#1b87c9; margin:10px 0 10px 0;}
.contents .contents-in img{width:95%; margin-top:60px;}/*img 빼기*/
.editor-introduce{margin:30px 0 30px 0;}
.editor-introduce .line-1px{width:100%; height:1px; background-color:#1b87c9;}
.mob-editor-con{display:none;}
.editor-introduce .web-editor-con{height:180px; border:solid 1px #1b87c9; border-radius:10px; margin:20px 0; padding-top:20px;}
.web-editor-con .editor-intro{padding-top:20px;}
.web-editor-con .editor-intro p{height:30px;}
.web-editor-con .editor-sns img{margin:80px 0 0 5px;}
.web-banner{margin-bottom:80px;}
.web-banner .banner{width:100%; height:300px; background-color:#1b87c9;}
.like .number-like{width:60px; height:30px; border:1px solid #CCCCCC; border-radius:5px; padding-top:5px; margin-top:65px; float:inherit;}
.share{margin:30px 0 30px 0;}
.share img{width:95%;}/*img 빼기*/
.comment img{width:95%;}/*img 빼기*/
.pre-next{margin:40px 0 40px 0;}
.pre-next .con-pre{height:150px; background-color:#CC3300; color:#FFFFFF; font-size:16px;}
.con-pre p{margin-top:10px;}
.con-pre p.pre-title{font-size:18px; line-height:1.5em;}
.pre-next .con-next{height:150px; background-color:#FF6600; color:#FFFFFF; font-size:16px;}
.con-next p{margin-top:10px;}
.con-next p.next-title{font-size:18px; line-height:1.5em;}
.title-relation{font-size:18px; color:#ce2ca8; font-weight:bold; margin:50px 0 30px 0;}
.relation div.col-sm-6{margin-bottom:20px;}
.relation .title{font-size:18px; margin-top:0; font-weight:inherit;}
.relation img{width:100px;}
.relation .ad .ad-title{font-size:18px; margin-top:0; font-weight:inherit;}
.relation .ad img{width:100px;}
.relation .ad .ad-img{position:relative;}
.relation .ad .ad-img span{position:absolute; width:40px; padding:5px 10px; text-align:left; background:rgba(0,0,0,0.5); color:#FFFFFF;}
.title-recommendation{font-size:18px; color:#ce2ca8; font-weight:bold; margin:50px 0 30px 0;}
.recommendation{font-family: 'Nanum Gothic', serif; font-size:16px; text-align:center; font-weight:bold;}
.recommendation div{margin:10px 0 50px 0;}
.recommendation p{margin-top:20px;}

@media all and (max-width:1024px) {
.web-banner{display:none;}
.mob-banner{display:block;}
.contents .title{font-size:22px; margin:20px 0 10px 0;}
.contents .date-view span{margin-right:5px; font-size:12px;}
.contents .date-view span.bar{color:#ce2ca8;}
.contents .editor{font-size:12px;}
.web-editor-con{display:none;}
.mob-editor-con{display:block;}
.editor-introduce .mob-editor-con{height:270px; border:solid 1px #1b87c9; border-radius:10px; margin:20px 0; padding-top:20px;}
.mob-editor-con .editor-intro{margin:10px 0 10px 0;}
.mob-editor-con .editor-sns img{margin-left:5px;}
.mob-banner{margin-bottom:30px;}
.mob-banner .banner{width:100%; height:300px; background-color:#1b87c9;}
.like .btn-like img{width:50px;}
.pre-next .con-pre{width:50%; font-size:12px;}
.con-pre p{margin-top:10px;}
.con-pre p.pre-title{font-size:14px; line-height:1.5em;}
.pre-next .con-next{width:50%; font-size:12px; margin-left:0;}
.con-next p{margin-top:10px;}
.con-next p.next-title{font-size:14px; line-height:1.5em;}
.title-relation{font-size:16px;}
.relation div.col-sm-6{margin-bottom:0px;}
.relation div.col-xs-12{margin-bottom:10px;}
.relation .title{font-size:16px; line-height:1.5em; margin:0;}
.relation .ad .ad-title{font-size:16px; line-height:1.5em; margin:0;}
.title-recommendation{font-size:16px;}
.recommendation{font-size:16px;}
.recommendation div{margin:10px 0 10px 0;}
.recommendation p{margin-top:10px;}
.contents .row .col-sm-4, .col-xs-6{padding:0 5px 0 5px;}
}