.mob-main-banner{display:none;}
.main-menu{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; font-family: "BMD", sans-serif; color:#FFFFFF; width:100% !important; height:700px;}
.main-menu .mainlogoimg img{padding-top:120px;}
.main-menu p{font-size:38px; text-align:center; margin:60px 0 60px 0;}
.main-menu .menu p{margin:10px 0 10px 0; font-size:28px;}
.main-menu .menu img{height:120px;}
.main-menu .menu img:hover{height:140px;}
.menu p a{color:#fff;}
.web-main-banner{margin-bottom:50px;}
.web-main-banner p{font-family: "BMD", sans-serif; font-size:16px; color:#1b87c9; margin:80px 0 10px 0;}
.contents{font-family: 'Nanum Gothic', serif; font-size:16px; text-align:center; font-weight:bold;}
.contents div div{margin:10px 0 10px 0;}
.contents div div p{margin-top:20px;}
.contents .icon-plus_con{margin:60px 0 50px 0;}


.contents_detail-mob_menu {display:none;}
@media all and (max-width:1024px) {
.contents_detail-mob_menu {display:block;}

.main-menu{display:none;}
.web-main-banner{display:none;}
.mob-main-banner{display:block;}
.mob-main-banner{margin-bottom:10px;}
.mob-main-banner p{font-family: "BMD", sans-serif; font-size:16px; color:#1b87c9; margin:20px 0 5px 5px;}
.contents div div{margin:10px 0 10px 0;}
.contents div div p{margin-top:10px;}
.contents .icon-plus_con{margin:10px 0 30px 0;}
.contents .icon-plus_con img{height:80px;}
.contents .row .col-sm-4, .col-xs-6{padding:0 5px 0 5px;}
}