.padding-0{padding:0 !important;}
.apply{background-color:#f4f4f4; width:100%; height:auto; padding:80px 0; margin-top:50px;}
.apply .title p{font-size:24px; font-weight:bold;}
.apply .line1{background-color:#1b87c9; width:300px; height:2px; margin-top:20px; margin-bottom:20px;}
.apply .price{font-size:36px; font-weight:bold; color:#FF0000;}
/*.apply .price input{ margin-right:10px;}*/
.apply .btn-coupon button{background-color: initial; width:120px; height:35px; border-radius:2px; color:#1b87c9; font-weight:bold; font-size:16px; border:#1b87c9 1px solid; margin:20px; 0;}
.star1{color:#ff0000; margin-bottom:20px;}
.apply-input .row span .star{display:inline; color:#ff0000; margin-right:4px;}
.apply-input{font-size:16px; font-weight:bold;}
.apply-input .row{margin:50px 0; border:#cccccc 2px solid; margin-top:50px; padding:30px; width:70%;}
.apply-input .row span{display:inline-block; width:120px;}
.apply-input .name, .cell, .mail, .job{height:80px;}
.apply-input .name input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input .cell input{border:#1b87c9 1px solid; width:70px; height:30px; padding:5px; font-size:16px; margin:0 10px; border-radius:2px;}
.apply-input .cell select{border:#1b87c9 1px solid; width:65px; height:30px; margin-right:10px; font-size:16px; border-radius:2px; color:#979797;}
.apply-input .mail input{border:#1b87c9 1px solid; height:30px; padding:5px; font-size:16px; width:130px; border-radius:2px;}
.apply-input .mail select{border:#1b87c9 1px solid; height:30px; font-size:16px; width:130px; border-radius:2px; color:#979797;}
.apply-input .mail .mail1{margin-right:10px;}
.apply-input .job input{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input .route input{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input .btn-apply{background-color:#1b87c9; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:50px 0;}
.apply-input .btn-apply a{color:#fff;}
.apply .deposit-account{font-size:30px; font-weight:bold; color:#212121; margin-top:30px; line-height:1.5em;}
.apply-cancle{border:#ececec 3px solid; width:600px; padding:30px 15px 15px 15px; font-size:16px; font-weight:bold; margin-bottom:50px;}
.apply-cancle .cancle-con{font-size:14px; color:#666;line-height:2.0em}
.privacy{width:600px; margin-bottom:100px; font-weight:bold; color:#FF0000;}
.privacy .title{font-size:18px; margin-top:20px;}
.privacy .con{font-size:16px; margin-top:20px; line-height:1.8em;}
.modal-title{color:#1b87c9;}
.modal-body{margin-top:20px;}
.modal-body input{border:#1b87c9 2px solid; height:50px; width:80%; border-top:none; border-left:none; border-right:none;}
.modal-body button{background-color:#1b87c9; width:55px; height:38px; border-radius:2px; color:#fff; font-weight:bold; font-size:16px; border:#1b87c9 1px solid; margin-left:10px;}
.modal-body p{font-size:16px; color:#f24646; margin:30px 0 20px 0; width:120px; height:auto; border-radius:15px; background-color:#ececec; padding:10px;}
.modal-lg{max-width:500px;}
.apply-cancel{background-color:#f4f4f4; width:100%; height:auto; padding:80px 0; margin-top:50px; font-size:24px; font-weight:bold;}
.apply-input-cancel .star1{color:#ff0000; margin-bottom:20px;}
.apply-input-cancel .row span .star{display:inline; color:#ff0000; margin-right:4px;}
.apply-input-cancel{font-size:16px; font-weight:bold;}
.apply-input-cancel .row{margin:50px 0; border:#cccccc 2px solid; margin-top:50px; padding:30px; width:70%;}
.apply-input-cancel .row span{display:inline-block; width:120px;}
.apply-input-cancel .num, .name, .cell{height:80px;}
.apply-input-cancel .num input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input-cancel .name input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input-cancel .cell input{border:#1b87c9 1px solid; width:70px; height:30px; padding:5px; font-size:16px; margin:0 10px; border-radius:2px;}
.apply-input-cancel .cell select{border:#1b87c9 1px solid; width:65px; height:30px; margin-right:10px; font-size:16px; border-radius:2px; color:#979797;}
.apply-input-cancel .btn-apply{background-color:#ff7d7d; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:50px 0;}
.apply-input-cancel .btn-apply a{color:#fff;}
.apply-input-cancel .reason div{padding:0;}
.apply-input-cancel .reason textarea{border:#1b87c9 1px solid; border-radius:2px; width:60%; height:100px; resize:none; margin-top:20px;}

@media all and (max-width:1024px) {
.modal-lg{width:95%}
.modal-body{padding:2px !important;}
.modal-body input{width:220px;}
.line{height:1px;}
.apply .deposit-account{padding:0 10px 0 10px; font-size:22px;}
.apply .price{font-size:30px; font-weight:bold; color:#FF0000;}
/*.apply .price input{width:200px;}*/
.apply-cancle{width:95%;}
.privacy{width:95%}
.privacy .title{font-size:16px;}
.privacy .con{font-size:14px;}
.apply-input{width:100% !important; font-size:16px;}
.apply-input .row{margin:50px 5px 0 5px; padding:30px 5px; width:97%;}
.apply-input .row span{width:120px;}
.apply-input .name{height:70px;}
.apply-input .cell{height:100px;}
.apply-input .mail{height:130px;}
.apply-input .job{height:100px;}
.apply-input .route{height:100px;}
/*.apply-input .name span{display:block; margin-bottom:20px;}*/
.apply-input .cell span{display:block; margin-bottom:20px;}
.apply-input .cell input{margin:0 5px;}
.apply-input .mail span{display:block; margin-bottom:10px;}
/*.apply-input .mail input{width:110px;}*/
.apply-input .mail select{ margin-top:5px;}
.apply-input .mail .mail1{margin-right:5px;}
.apply-input .job span{display:block; margin-bottom:10px;}
.apply-input .route span{display:block; margin-bottom:10px;}
/*.apply-input .route input{width:50%}*/
.apply-input .btn-apply{margin-top:60px; margin-bottom:20px;}
.cancle p{width:95% !important;}
.apply-input-cancel .row{width:97%; padding:30px 5px;}
.apply-input-cancel .num{height:70px;}
.apply-input-cancel .name{height:70px;}
.apply-input-cancel .cell{height:100px;}
.apply-input-cancel .cell span{display:block; margin-bottom:20px;}
.apply-input-cancel .reason textarea{width:100%;}

}