<!DOCTYPE html>
<html lang="ko">
<head>
		
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>test</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<SCRIPT type="text/javascript"> 
//document.location.reload(true);
    //setTimeout("location.reload()",5000);
//$(document).ready(function(){
   // $("form").submit(function(){
    //    alert("Submitted");
    //});
//});
</SCRIPT> 

<script type="text/javascript">
 var checkFirst = false;
 var lastKeyword = '';
 var loopSendKeyword = false;
 
 function checkId() {
  if (checkFirst == false) {
   //0.5초 후에 sendKeyword()함수 실행
   setTimeout("sendId();", 500);
   loopSendKeyword = true;
  }
  checkFirst = true;
 }

 
 function sendId() {
  if (loopSendKeyword == false) return;
  
  var keyword = document.search.u_id.value;
  if (keyword == '') {
   lastKeyword = '';
   document.getElementById('checkMsg').style.color = "black";
   document.getElementById('checkMsg').innerHTML = "아이디를 입력하세요.";
  } else if (keyword != lastKeyword) {
   lastKeyword = keyword;
   
   if (keyword != '') {
    var params = "id="+encodeURIComponent(keyword);
    sendRequest("id_check.jsp", params, displayResult, 'POST');
   } else {
   }
  }
  setTimeout("sendId();", 500);
 }
 
 
 function displayResult() {
  if (httpRequest.readyState == 4) {
   if (httpRequest.status == 200) {
    var resultText = httpRequest.responseText;
    var listView = document.getElementById('checkMsg');
    if(resultText==0){
     listView.innerHTML = "사용 할 수 있는 ID 입니다";
     listView.style.color = "blue";
    }else{
     listView.innerHTML = "이미 등록된 ID 입니다";
     listView.style.color = "red";
    }
   } else {
    alert("에러 발생: "+httpRequest.status);
   }
  }
 }
 
/* function checkid()
 {
 	var sid = document.writeForm.id.value
 	if(sid == "") alert("입력된 아이디가 없습니다.")
 	else window.open("/ftest/checkcode"+sid,"","width=400 height=150")
 }*/
</script>
</head>
<body>
<!--콘텐츠뿌림-->
<form action="/ftest" method="post">
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<% if( row.consult_name == null ){%>
	<br> older
	<div class="input-field col l12">
		<input name="consult_name" type="text">
		<input type="submit" value="Submit">
	</div>
	<input type="hidden" name="consult_no">
	<%}else{%>
	<br> new
	<div class="input-field col l12">
		<input name="consult_name" type="text">
		<input type="submit" value="Submit">
	</div>
	<input type="hidden" name="consult_no">
	<%}%>
	
	
</form>




<form name="writeForm" method="post" action="/ftest/checkcode">
	<!--% if(id==null){%-->
<tr><td>유효합니다.</td>
	<td><input type="text" name="coup_code" style="ime-mode: disabled"><!--아이디를 영문만 입력가능하도록 설정-->
		<input type="submit" value="중복확인"/> <!-- onclick="javas-ript:checkid()"-->
	</td>
</tr>
<!--%}else{%-->
	<tr><td>유효하지않습니다.</td>
		<a href="/ftest">다시 시도 </a>
</tr>
<!--%}%-->
	
</form>

</body>
</html>
