<% var result = result; %>
<div class="line2"></div>
<!--p class="apply_no" align="center">이번 달 현재 <span style="color: rgb(255, 0, 0);">"<%= finance[0].appno%>"</span>건의 재무상담이 신청되었습니다.</p-->
<p class="apply_no" align="center">이번 달 <span style="color: rgb(255, 0, 0);">선착순 30명</span> 무료 재무상담이 모두 마감되었습니다.</p>
<div class="line2"></div>
<div class="finance-menu-web">
<div class="row container" align="center">
<p class="title">Consulting</p>
<div class="col-lg-2 col-xs-3 menu3"><a href="/finance/necessary/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu1.png"><p>이런분들은 꼭!</p></a></div>
<div class="col-lg-2 col-xs-3 menu1"><a href="/finance/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu2.png"><p>사이다재무란?</p></a></div>
<div class="col-lg-2 col-xs-3 menu3"><a href="/finance/process/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu3.png"><p>상담 프로세스</p></a></div>
<div class="col-lg-2 col-xs-3 menu3"><a href="/finance/review/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu4.png"><p>상담 후기</p></a></div>
<div class="col-lg-2 col-xs-3 menu2"><a href="/finance/profile"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu5.png"><p>설계사 프로필</p></a></div>
<div class="col-lg-2 col-xs-3 menu3"><a href="/finance/contents/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu6.png"><p>금융콘텐츠</p></a></div>

<!--div class="col-lg-3 col-xs-6 menu4"><a href="/finance/apply/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu4.png"><p>상담신청하기</p></a></div-->
<!--div class="col-lg-3 col-xs-6 menu4"><a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu4.png"><p>상담신청하기</p></a></div-->

</div>
</div>

<div class="row finance-menu-mob" align="center">
<div class="col-xs-6 menu2"><a href="/finance/necessary"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu1_mob.png"></a></div>
<div class="col-xs-6 menu1"><a href="/finance/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu2_mob.png"></a></div>
<div class="col-xs-6 menu2"><a href="/finance/process"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu3_mob.png"></a></div>
<div class="col-xs-6 menu3"><a href="/finance/review/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu4_mob.png"></a></div>
<div class="col-xs-6 menu2"><a href="/finance/profile"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu5_mob.png"></a></div>
<div class="col-xs-6 menu3"><a href="/finance/contents/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu6_mob.png"></a></div>

<!--div class="col-xs-6 menu4"><a href="/finance/apply/"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu4_mob.png"></a></div-->
<!--div class="col-xs-6 menu4"><a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><img class="img-responsive" src="/page_imgs/finance_img/btn_menu4_mob.png"></a></div-->

</div>