<!DOCTYPE html>
<html lang="ko">
<head>
		
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>test</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<SCRIPT type="text/javascript"> 
//document.location.reload(true);
    //setTimeout("location.reload()",5000);
//$(document).ready(function(){
   // $("form").submit(function(){
    //    alert("Submitted");
    //});
//});
</SCRIPT> 
</head>
<body>
<!--콘텐츠뿌림-->
<form action="/finance" method="post">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br> NEW
	<div class="input-field col l12">
		<input name="consult_name" type="text">
		<input type="submit" value="Submit">
	</div>
	<input type="hidden" name="consult_no">
</form>


</body>
</html>
