<div class="web-banner" align="center">
	<p class="title">재무설계 상담</p>
	<p class="con">내 월급은 통장을 스칠 뿐?<br>
<span style="color:#1b87c9">사이다경제</span>가 당신을 위해 준비한 <span style="color:#ce2ca8">재무설계!</span></p>
<div class="apply-bg">
		<div class="but-apply"><a href="/finance/apply/"><div class="btn-apply-in" align="center">상담 신청하기</div></a></div>
		<!--div class="but-apply"><a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in" align="center">상담 신청하기</div></a></div-->
<div style="opacity:0; width:100%;"><img class="img-responsive" src="/page_imgs/finance_img/web_bacter_mainimg.png" alt="" style="width:100%;"></div>
</div>
<!--div style="opacity:0; width:100%;"><img class="img-responsive" src="/page_imgs/finance_img/web_bacter_mainimg.png" alt="" style="width:100%;"></div-->
</div>
<% var result = result; %>
<div class="line2"></div>
<!--p class="apply_no" align="center">이번 달 현재 <span style="color: rgb(255, 0, 0);">"<%= finance[0].appno%>"</span>건의 재무상담이 신청되었습니다.</p-->
<p class="apply_no" align="center">이번 달 <span style="color: rgb(255, 0, 0);">선착순 30명</span> 무료 재무상담이 모두 마감되었습니다.</p>
<div class="line2"></div>
<div class="finance-menu-web">
<div class="row container" align="center">
<p class="title">Consulting</p>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/necessary"><img class="img-responsive" src="/page_imgs/finance_img/finance-btn-menu5.svg"><p>이런사람은 꼭!</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/"><img class="img-responsive" src="/page_imgs/finance_img/finance-btn-menu1.svg"><p>사이다재무란?</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/process"><img class="img-responsive" src="/page_imgs/finance_img/finance-btn-menu4.svg"><p>상담 프로세스</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/review/"><img class="img-responsive" src="/page_imgs/finance_img/finance-btn-menu6.svg"><p>생생 후기</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/profile"><img class="img-responsive" src="/page_imgs/finance_img/finance-btn-menu2.svg"><p>설계사 프로필</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/contents/"><img class="img-responsive" src="/page_imgs/finance_img/finance-btn-menu3.svg"><p>금융콘텐츠</p></a></div>
</div>
</div>

<div class="row finance-menu-mob" align="center">
	
<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/necessary">
<div class="col-xs-2 padding5"><img src="/page_imgs/finance_img/finance-btn-menu5.svg">
</div><div class="col-xs-10 padding5"><p>이런사람은 꼭!</p></div></a></div></div>
	
<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/">
<div class="col-xs-2 padding5"><img src="/page_imgs/finance_img/finance-btn-menu1.svg">
</div><div class="col-xs-10 padding5"><p>사이다재무란?</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/process">
<div class="col-xs-2 padding5"><img src="/page_imgs/finance_img/finance-btn-menu4.svg">
</div><div class="col-xs-10 padding5"><p>상담 프로세스</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/review/">
<div class="col-xs-2 padding5"><img src="/page_imgs/finance_img/finance-btn-menu6.svg">
</div><div class="col-xs-10 padding5"><p>생생 후기</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/profile">
<div class="col-xs-2 padding5"><img src="/page_imgs/finance_img/finance-btn-menu2.svg">
</div><div class="col-xs-10 padding5"><p>설계사 프로필</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/contents/">
<div class="col-xs-2 padding5"><img src="/page_imgs/finance_img/finance-btn-menu3.svg">
</div><div class="col-xs-10 padding5"><p>금융콘텐츠</p></div></a></div></div>

</div>