<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contact.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cid_top_bottom.js"></script>

</head>
<body>

<div class="web-footer">
		<div class="container">
				<div class="row">
						<div class="col-sm-1 logo"> <img src="../page_imgs/fixed_img/logo.jpg"> </div>
						<div class="col-sm-5 intro"><span>망설이지말고 주저하지말고 어서빨리<br>
								내게 다가와 꾸물대지말고 빙빙돌지말고<br>
								니사랑을 내게 모두 가져와<br>
								너랑 나랑 사랑하자 야이야이야이</span> </div>
						<div class="col-sm-3 about">
								<p>ABOUT</p>
								<div class="line-about"></div>
								<div class="about-con">
										<p><a href="/our_company">Our Company</a></p>
										<p><a href="/our_team">Our Team</a></p>
										<p><a href="/contact">Contact Us</a></p>
								</div>
						</div>
						<div class="col-sm-3 ourworks">
								<p>OUR WORKS</p>
								<div class="line-about"></div>
								<div class="ourworks-con">
										<p><a href="http://blog.naver.com/cidermics">NAVER blog</a></p>
										<p><a href="http://cidermics.tistory.com/122">Tistory blog</a></p>
										<p><a href="https://www.facebook.com/cidermics">Facebook page</a></p>
										<p><a href="http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C">카카오톡 플러스친구</a></p>
								</div>
						</div>
				</div>
				<div class="line-1px"></div>
				<div class="row company-con">
						<div class="col-sm-2">
								<p>ⓒFORTT Co., Ltd</p>
						</div>
						<div class="col-sm-6">
								<p>Call. 010-0000-0000 대표 김의현 개인정보책임 김의현 주소 서울특별시 당산로 45길 7 502</p>
						</div>
						<div class="col-sm-4">
								<p>파트너 제휴문의 010-0000-0000 email. cidermics@naver.com</p>
						</div>
				</div>
		</div>
</div>
<div class="mob-footer">
		<div class="logo" align="center"><img src="../page_imgs/fixed_img/mob_icon_footer_logo.png"></div>
		<p>Call. 010-0000-0000 대표 김의현<br>
				개인정보책임 김의현<br>
				주소 서울특별시 당산로 45길 7 502</p>
</div>
</body>
</html>
