<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contact.css" rel="stylesheet">
<link href="/css/cid_top_bottom.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#search').click(function(){ // ID가 toggleButton인 요소를 클릭하면
        var state = $('.web-search-box').css('display'); // state 변수에 ID가 moreMenu인 요소의 display의 속성을 '대입'
        if(state == 'none'){ // state가 none 상태일경우 
            $('.web-search-box').show(); // ID가 moreMenu인 요소를 show();
        }else{ // 그 외에는
            $('.web-search-box').hide(); // ID가 moreMenu인 요소를 hide();         
        }
    });
    $('#mob-search').click(function(){ // ID가 toggleButton인 요소를 클릭하면
        var state = $('.mob-search-box').css('display'); // state 변수에 ID가 moreMenu인 요소의 display의 속성을 '대입'
        if(state == 'none'){ // state가 none 상태일경우 
            $('.mob-search-box').show(); // ID가 moreMenu인 요소를 show();
        }else{ // 그 외에는
            $('.mob-search-box').hide(); // ID가 moreMenu인 요소를 hide();         
        }
    });    
    
});
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cid_top_bottom.js"></script>
<body>
<div class="mob-header">
		<header class="container-fulid">
				<div class="mob-menu" align="left"><img class="img-responsive" src="../../page_imgs/fixed_img/mob_icon_menu.png"></div>
				<div class="mob-logo" align="center"><a href="/"><img class="img-responsive" src="../../page_imgs/fixed_img/mob_icon_logo.png"></a></div>
				<div id="mob-search" class="mob-search" align="right"><img class="img-responsive" src="../../page_imgs/fixed_img/mob_icon_search.png"></div>
		</header>
</div>
<div class="mob-search-box" align="center">
		<input type="text" class="form-control" placeholder="search">
		<button type="submit" class="btn btn-default"><img src="../../page_imgs/fixed_img/icon_search.png"></button>
</div>

<div id="menu">
		<div class="close"></div>
		<div class="nav">
				<ul>
						<li><a href="/contents">콘텐츠</a></li>
						<li><a href="/consulting">재무상담</a></li>
						<li><a href="/cmn_list">소통공간</a></li>
						
						<li>ABOUT</li>
						<li>CONTACT</li>
						
				</ul>
		</div>
		<div onClick="history.back();" class="page_cover"></div>
		<div onClick="history.back();" class="close"></div> 
</div>
<div class="header">
		<header class="container">
				<div class="logo"><a href="/"><img src="../../page_imgs/fixed_img/logo.jpg"></a></div>
				<div class="menu">
						<ul>
								<li><a href="/contents">콘텐츠</a></li>
								<li><a href="/consulting">재무상담</a></li>
								<li><a href="/cmn_list">소통공간</a></li>
						</ul>
				</div>
				<div class="login"><a href="/login">로그인</a> | <a href="/join">회원가입</a></div>
				<div id="search" class="search"><img src="../../page_imgs/fixed_img/icon_search.png"></div>
		</header>
</div>
<div class="web-search-box" align="center">
		<input type="text" class="form-control" placeholder="search">
		<button type="submit" class="btn btn-default"><img src="../../page_imgs/fixed_img/icon_search.png"></button>
</div>


</body>
</html>
