<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture_detail.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>


<div class="lecture" align="center">
		
		<div class="container">
		<div class="title">
				<p>취준생이 꼭 알아야 하는 ‘기업 세계관’</p>
		</div>
		<div class="line1"></div>
		</div>
		<div class="contents" align="center">
		<div class="thum_img" align="center">
			<a href="/lecture/detail"><img class="img-responsive" src="/page_imgs/lecture_img/lec_poster_1.jpg"></a>
		</div>
		<div class="q2">
		<div class="container">
		<p class="title">" 이 강의 들은 사람, 꼭 뽑고 싶다!"</p>
		<p class="con"><img class="img-responsive" src="/page_imgs/lecture_img/1.png"></p>
		</div>
		</div>
		
		<div class="q1">
		<div class="container">
		<p class="title">" Q1.&nbsp;&nbsp;<span>누가</span> 들으면 좋을까요? "</p>
		<p class="con"><img class="img-responsive" src="/page_imgs/lecture_img/2.png"></p>
		</div>
		</div>
		
		<div class="q2">
		<div class="container">
		<p class="title">" Q2.&nbsp;&nbsp;이 <span>강의</span>는 어떤 강의죠?</b></span></p>
		<p class="con"><img class="img-responsive" src="/page_imgs/lecture_img/3.png"></p>
		</div>
		</div>
		
		<div class="q3">
		<div class="container">
		<p class="title">" Q3.&nbsp;&nbsp;이 <span>강의</span>가 다른 취업 강의와 <span>다른 점</span>은 무엇일까요?</p>
		<p class="con"><img class="img-responsive" src="/page_imgs/lecture_img/4.png"></p>
		</div>
		</div>
		
		<div class="q4">
		<div class="container">
		<p class="title">" Q4.&nbsp;&nbsp;그래서 이 강의는 <span>무엇</span>을 알려주죠?</b></span></p>
		<p class="con"><img class="img-responsive" src="/page_imgs/lecture_img/5.png"></p>
		</div>
		</div>
		
		<div class="q5">
		<div class="container">
		<p class="title">" Q5.&nbsp;&nbsp;<span>왜</span> 김정호 교수님인가요?"</b></span></p>
		<p class="con"><img class="img-responsive" src="/page_imgs/lecture_img/6.png"></p>
		</div>
		</div>
		</div>
		
		<div class="container">
		<div class="curriculum">
		<p class="title">강의 커리큘럼</p>
<p class="one">제1강: 기업의 직원으로 살아가기</p>
 
<p class="two">제2강: 협동하고 싶은데 왜 경쟁하라는 거야?</p>
 
<p class="three">제3강: 나는 얼마를 받아야 하나?</p>
 
<p class="four">제4강: 오너가 있어도 전문경영인으로 성공할 수 있다.</p>
		</div>
		
		<a href="/lecture/sale/"><div class="btn-coupon">할인쿠폰받기</div></a>
		
		
		
<script type="text/javascript">

function CopyToClipboard ( tagToCopy, textarea ){ 

        textarea.parentNode.style.display = "block"; 

        var textToClipboard = ""; 
        if ( "value" in tagToCopy ){    textToClipboard = tagToCopy.value;    } 
        else {    textToClipboard = ( tagToCopy.innerText ) ? tagToCopy.innerText : tagToCopy.textContent;    } 

        var success = false; 

        if ( window.clipboardData ){ 
                window.clipboardData.setData ( "Text", textToClipboard ); 
                success = true; 
        } 
        else { 
                textarea.value = textToClipboard; 

                var rangeToSelect = document.createRange(); 

                rangeToSelect.selectNodeContents( textarea ); 

                var selection = window.getSelection(); 
                selection.removeAllRanges(); 
                selection.addRange( rangeToSelect ); 

                success = true; 

                try { 
                    if ( window.netscape && (netscape.security && netscape.security.PrivilegeManager) ){ 
                        netscape.security.PrivilegeManager.enablePrivilege( "UniversalXPConnect" ); 
                    } 

                    textarea.select(); 
                    success = document.execCommand( "copy", false, null ); 
                } 
                catch ( error ){ 
                    success = false; 
                    console.log( error ); 
                } 
        } 

        textarea.parentNode.style.display = "none"; 
        textarea.value = ""; 

        if ( success ){ alert( ' 클립보드에 복사되었습니다. \n "Ctrl+v"를 사용하여 원하는 곳에 붙여넣기 하세요. ' ); } 
        else {    alert( " 복사하지 못했습니다. " );    } 

} 

</script>
<!--div style="display: none;"><textarea id="myClipboard"></textarea></div>
<br>
<center>
이 글의 트랙백 주소 복사하기
<p onclick="CopyToClipboard( this, myClipboard )"> http://www.cidermics.com/lecture/detail</p></center-->
		<div class="contents container">
				<p>&nbsp;</p>
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/lecture/detail" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
		
		<div class="row professor-introduce" style="padding:10px;">
				<div class="col-xs-12 mob-professor-con">
						<div class="row">
								<div class="col-xs-12 class="img-responsive" professor-picture" align="center"><img width="80" src="/page_imgs/lecture_img/C.H.KIM.jpg"></div>
								<div class="col-xs-12 professor-intro" align="left">
										<p>강사 : 김정호</p>
										<p>kim.chungho@gmail.com</p>
										<p>경제학 박사 / 법학 박사, 연세대학교 경제대학원 특임교수,</p>
										<p><대한민국 기업의 탄생>,<법, 경제를 만나다> 등 17권 책 저자</p>
								</div>
								<div class="col-xs-12 professor-sns" align="right"><a href="#" onClick="javascript:openSNSFB();"><img width="35" src="/page_imgs/lecture_img/icon_prof_facebook.png"></a></div>
						</div>
				</div>
				<div class="col-xs-12 web-professor-con">
						<div class="row">
								<div class="col-xs-2 class="img-responsive" professor-picture"><img height="135" src="/page_imgs/lecture_img/C.H.KIM.jpg"></div>
								<div class="col-xs-6 professor-intro" align="left">
										<p>강사 : 김정호</p>
										<p>kim.chungho@gmail.com</p>
										<p>경제학 박사 / 법학 박사, 연세대학교 경제대학원 특임교수,</p>
										<p><대한민국 기업의 탄생>,<법, 경제를 만나다> 등 17권 책 저자</p>
										
								</div>
								<div class="col-xs-4 professor-sns" align="right"><a href="#" onClick="javascript:openSNSFB();"><img src="/page_imgs/lecture_img/icon_prof_facebook.png"></a></div>
						</div>
				</div>
		</div>
		<div class="apply" align="center">
				<div class="apply-date" align="left">
						<p>날짜</p>
						<div class="line2"></div>
						<p class="font-color-666">2016.10.10(월)  /  2016.10.13(목)  /  2016.10.17(월)  /  2016.10.20(목) 총 4회 진행</p>
				</div>
				<div class="line3"></div>
				<div class="apply-place" align="left">
				<p>장소</p>
						<div class="line2"></div>
						<p class="font-color-666">인지어스 커리어센터 (선릉역)</p>
						<div><img class="map img-responsive" src="/page_imgs/lecture_img/map1.jpg"></div>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>강연시간</p>
						<div class="line2"></div>
						<p class="font-color-666">19:30 ~ 21:30 PM </p>
				</div>
				<div class="line3"></div>
				<div class="apply-money" align="left">
				<p>수강료</p>
						<div class="line2"></div>
						<p class="font-color-666">\150,000</p>
						<p class="font-color-666">(쿠폰할인가) \120,000</p>
				</div>
				<div class="line3"></div>
				<div class="apply-deposit">
				<a href="/lecture/apply/"><p>무통장 입금</p></a>
				</div>
				
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>
				
				<div class="line3"></div>
				<div class="apply-cancle">
				<a href="/lecture/cancel/"><p>취소 및 환불</p></a>
				</div>
		</div>
		</div>
</div>



<% include ../bottom %>

</body>
</html>
