<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 콘텐츠</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture_detail.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>


<div class="lecture" align="center">
		
		<div class="container">
		<div class="title">
				<p>취준생과 신입사원이 꼭 알아야 하는 '기업 세계관'</p>
		</div>
		<div class="line1"></div>
		</div>
		<div class="contents" align="center">
		<div class="thum_img" align="center">
			<a href="/lecture/detail"><img class="img-responsive" src="/page_imgs/lecture_img/lec_thum_1.png"></a>
		</div>
		<div class="q1">
		<div class="container">
		<p class="title">" Q1.이 강의를 한 문장으로 요약하면? "</p>
		<p class="con">취준생에게는 면접에서 어필해야 할 자세를, 신입사원에게는 업무에 임하는 마음가짐을 시원하게 알려드립니다.</p>
		</div>
		</div>
		
		<div class="q2">
		<div class="container">
		<p class="title">" Q2. 이 강연은 왜 만드셨나요?"</b></span></p>
		<p class="con">화장을 하고 옷을 고르며 외모를 치장하는 것, 취업을 앞두고 면접을 준비한다는 것의 공통점은 무엇일까요?
		바로 누군가에게 '잘 보이기 위해' 화장을 하는 작업입니다. 기본적으로 몸을 가꿔둬야 꾸미기도 쉽고, 피부가 좋아야 화장도 잘 먹겠죠?
		취업준비생, 신입사원 여러분들께 몸과 피부라 할 수 있는 기본기를 키워드리고자 이 강연을 만들었습니다.
		</div>
		</div>
		
		<div class="q3">
		<div class="container">
		<p class="title">" Q3.누가 들으면 좋을까요?"</p>
		<p class="con">면접이 막막한 취업준비생들과 회사 생활이 막막한 신입사원들에게 강추합니다.</p>
		</div>
		</div>
		
		<div class="q4">
		<div class="container">
		<p class="title">" Q4.이 강의를 들으면 무엇을 얻게 될까요?"</b></span></p>
		<p class="con">'내 역할'도 제대로 모르는 마음가짐으로는 면접에서도 어필하기 어렵고, 실무에도 나쁜 영향을 줍니다.
		이 강연을 통해 내 업무가 회사에 어떻게 영향을 미치고, 
		'나'를 제외한 전체 회사가 돌아가는 구도를 인지하여 진짜 '내 역할'을 알 수 있도록 도와드립니다.</p>
		</div>
		</div>
		
		<div class="q5">
		<div class="container">
		<p class="title">" Q5.왜 김정호 교수님인가요?"</b></span></p>
		<p class="con">김정호 교수님은 지난 10년간 23개 기업(그룹) 신입사원 교육을 통해서 철학과 지식, 
		강의력을 검증받았으며, 기업에 어떤 사람이 필요한지, 청년들의 강점은 무엇인지, 부족한 점은 무엇인지에 대해 누구보다도 잘 알려주실 분이기 때문입니다.</p>
		</div>
		</div>
		</div>
		
		<div class="container">
		<div class="curriculum">
		<p class="title">강의 커리큘럼</p>
<p class="one">제1강: 기업의 직원으로 살아가기</p>
 
<p class="two">제2강: 협동하고 싶은데 왜 경쟁하라는 거야?</p>
 
<p class="three">제3강: 나는 얼마를 받아야 하나?</p>
 
<p class="four">제4강: 오너가 있어도 전문경영인으로 성공할 수 있다.</p>
		</div>
		
		<a href="/lecture/sale/"><div class="btn-coupon">할인쿠폰받기</div></a>
		<div class="row professor-introduce" style="padding:10px;">
				<div class="col-xs-12 mob-professor-con">
						<div class="row">
								<div class="col-xs-12 class="img-responsive" professor-picture" align="center"><img width="80" src="/page_imgs/lecture_img/C.H.KIM.jpg"></div>
								<div class="col-xs-12 professor-intro" align="left">
										<p>강사 :김정호  金正浩  Kim, Chung-Ho </p>
										<p>kim.chungho@gmail.com</p>
										<p>경제학 박사 / 법학 박사</p>
										<p>연세대학교 경제대학원 특임교수</p>
										<p><대한민국 기업의 탄생>,<법, 경제를 만나다> 등 다수의 책 저자</p>
								</div>
								<div class="col-xs-12 professor-sns" align="right"><a href="#" onClick="javascript:openSNSFB();"><img width="35" src="/page_imgs/lecture_img/icon_prof_facebook.png"></a></div>
						</div>
				</div>
				<div class="col-xs-12 web-professor-con">
						<div class="row">
								<div class="col-xs-2 class="img-responsive" professor-picture"><img height="135" src="/page_imgs/lecture_img/C.H.KIM.jpg"></div>
								<div class="col-xs-6 professor-intro" align="left">
										<p>강사 : 김정호</p>
										<p>kim.chungho@gmail.com</p>
										<p>경제학 박사 / 법학 박사, 연세대학교 경제대학원 특임교수,</p>
										<p><대한민국 기업의 탄생>,<법, 경제를 만나다> 등 다수의 책 저자</p>
										
								</div>
								<div class="col-xs-4 professor-sns" align="right"><a href="#" onClick="javascript:openSNSFB();"><img src="/page_imgs/lecture_img/icon_prof_facebook.png"></a></div>
						</div>
				</div>
		</div>
		<div class="apply" align="center">
				<div class="apply-date" align="left">
						<p>날짜</p>
						<div class="line2"></div>
						<p class="font-color-666">2016.10.10  /  2016.10.14  /  2016.10.17  /  2016.10.20</p>
				</div>
				<div class="line3"></div>
				<div class="apply-place" align="left">
				<p>장소</p>
						<div class="line2"></div>
						<p class="font-color-666">인지어스 커리어센터 (선릉역)</p>
						<div><img class="map img-responsive" src="/page_imgs/lecture_img/map1.jpg"></div>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>강연시간</p>
						<div class="line2"></div>
						<p class="font-color-666">PM 07:00 ~ 09:00</p>
				</div>
				<div class="line3"></div>
				<div class="apply-money" align="left">
				<p>수강료</p>
						<div class="line2"></div>
						<p class="font-color-666">\200,000</p>
				</div>
				<div class="line3"></div>
				<div class="apply-deposit">
				<a href="/lecture/apply/"><p>무통장 입금</p></a>
				</div>
				
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>
				
				<div class="line3"></div>
				<div class="apply-cancle">
				<a href="/lecture/cancel/"><p>취소 및 환불</p></a>
				</div>
		</div>
		</div>
</div>



<% include ../bottom %>

</body>
</html>
