<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 회원가입</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_join_step2.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../top %>

<div class="row" style="margin:0; padding:0">
		<div class="col-xs-12 main-menu" align="center">
				<div class="bg">
						<div class="row join">
								<div class="col-xs-12 join-step" align="right" style="padding:0;"><img src="/page_imgs/member_img/join_1.png">
									<img src="/page_imgs/member_img/ch_join_2.png">
									<img src="/page_imgs/member_img/join_3.png"></div>
								<div class="row step2" align="left">
										<div class="col-xs-12 title">
												<p>회원가입</p>
										</div>
										<div class="col-xs-12 id">
												<p><span>아이디(이메일)</span><span class="star">*</span></p>
												<input class="email1" type="text">
												@
												<input class="email2" type="text">
												<div class="email-check">중복확인</div>
										</div>
										<div class="col-xs-12 nicname">
												<p><span>닉네임</span><span class="star">*</span></p>
												<input class="nicname1" type="text">
												<div class="nicname1-check">중복확인</div>
										</div>
										<div class="col-xs-12 birth">
												<p><span>생년월일</span><span class="star">*</span></p>
												<input class="year" type="text" maxlength="4">
												년
												<input class="month" type="text" maxlength="2">
												월
												<input class="day" type="text" maxlength="2">
												일 </div>
										<div class="col-xs-12 sex">
												<p><span>성별</span><span class="star">*</span></p>
												<div class="man">남자</div>
												<div class="woman">여자</div>
										</div>
										<div class="row step2-btn">
												<div class="col-xs-6 cancle" align="left"><img src="/page_imgs/member_img/btn-cancle.jpg"></div>
												<div class="col-xs-6 next" align="right"><img src="/page_imgs/member_img/btn-next.jpg"></div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<% include ../bottom %>

</body>
</html>
