<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cid_main</title>
<link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../public/css/cid_join_step2.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../../public/js/bootstrap.min.js"></script>
<script src="../../../public/js/cid_join.js"></script>
</head>
<body>
<div class="mob-header">
		<header class="container-fulid">
				<div class="mob-menu" align="left"><img class="img-responsive" src="img/mob_icon_menu.png"></div>
				<div class="mob-logo" align="center"><img class="img-responsive" src="img/mob_icon_logo.png"></div>
				<div class="mob-search" align="right"><img class="img-responsive" src="img/mob_icon_search.png"></div>
		</header>
</div>
<div id="menu">
		<div class="close"></div>
		<div class="nav">
				<ul>
						<li>콘텐츠</li>
						<li>재무상담</li>
						<li>소통공간</li>
						<li>ABOUT</li>
						<li>CONTACT</li>
				</ul>
		</div>
		<div onClick="history.back();" class="page_cover"></div>
		<div onClick="history.back();" class="close"></div>
</div>
<div class="header">
		<header class="container">
				<div class="logo"><img src="img/logo.jpg"></div>
				<div class="menu">
						<ul>
								<li>콘텐츠</li>
								<li>재무상담</li>
								<li>소통공간</li>
						</ul>
				</div>
				<div class="login">로그인 | 회원가입</div>
				<div class="search"><img src="img/icon_search.png"></div>
		</header>
</div>
<div class="row" style="margin:0; padding:0">
		<div class="col-xs-12 main-menu" align="center">
				<div class="bg">
						<div class="row join">
								<div class="col-xs-12 join-step" align="right" style="padding:0;"><img src="img/join_1.png"><img src="img/ch_join_2.png"><img src="img/join_3.png"></div>
								<div class="row step2" align="left">
										<div class="col-xs-12 title">
												<p>회원가입</p>
										</div>
										<div class="col-xs-12 id">
												<p><span>아이디(이메일)</span><span class="star">*</span></p>
												<input class="email1" type="text">
												@
												<input class="email2" type="text">
												<div class="email-check">중복확인</div>
										</div>
										<div class="col-xs-12 nicname">
												<p><span>닉네임</span><span class="star">*</span></p>
												<input class="nicname1" type="text">
												<div class="nicname1-check">중복확인</div>
										</div>
										<div class="col-xs-12 birth">
												<p><span>생년월일</span><span class="star">*</span></p>
												<input class="year" type="text" maxlength="4">
												년
												<input class="month" type="text" maxlength="2">
												월
												<input class="day" type="text" maxlength="2">
												일 </div>
										<div class="col-xs-12 sex">
												<p><span>성별</span><span class="star">*</span></p>
												<div class="man">남자</div>
												<div class="woman">여자</div>
										</div>
										<div class="row step2-btn">
												<div class="col-xs-6 cancle" align="left"><img src="img/btn-cancle.jpg"></div>
												<div class="col-xs-6 next" align="right"><img src="img/btn-next.jpg"></div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<div class="web-footer">
		<div class="container">
				<div class="row">
						<div class="col-sm-1 logo"> <img src="img/logo.jpg"> </div>
						<div class="col-sm-5 intro"><span>망설이지말고 주저하지말고 어서빨리<br>
								내게 다가와 꾸물대지말고 빙빙돌지말고<br>
								니사랑을 내게 모두 가져와<br>
								너랑 나랑 사랑하자 v야이야이야이</span> </div>
						<div class="col-sm-3 about">
								<p>ABOUT</p>
								<div class="line-about"></div>
								<div class="about-con">
										<p>Our Company</p>
										<p>Our Team</p>
										<p>Approach</p>
								</div>
						</div>
						<div class="col-sm-3 ourworks">
								<p>OUR WORKS</p>
								<div class="line-about"></div>
								<div class="ourworks-con">
										<p>NAVER blog</p>
										<p>Tistory blog</p>
										<p>Facebook page</p>
										<p>KAKAOTALK Group chat</p>
								</div>
						</div>
				</div>
				<div class="line-1px"></div>
				<div class="row company-con">
						<div class="col-sm-2">
								<p>ⓒFORTT Co., Ltd</p>
						</div>
						<div class="col-sm-6">
								<p>Call. 010-0000-0000 대표 김의현 개인정보책임 김의현 주소 서울특별시 당산로 45길 7 502</p>
						</div>
						<div class="col-sm-4">
								<p>파트너 제휴문의 010-0000-0000 email. cidermics@naver.com</p>
						</div>
				</div>
		</div>
</div>
<div class="mob-footer">
		<div class="logo" align="center"><img src="img/mob_icon_footer_logo.png"></div>
		<p>Call. 010-0000-0000 대표 김의현<br>
				개인정보책임 김의현<br>
				주소 서울특별시 당산로 45길 7 502</p>
</div>
</body>
</html>
