<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">Cidermics</a>
		<ul class="right hide-on-med-and-down">
			<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
			<!-- <li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/consumption">소비 성향</a></li> -->
		</ul>
	
		<ul id="nav-mobile" class="side-nav">
			<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
			<!-- <li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/consumption">소비 성향</a></li> -->
		</ul>
	  	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>