<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | Our Company</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_our_company.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	
	<% include ../top %>
	
	

<div class="container company">
	<div class="title">
		<span>Our Company</span>
	</div>
	<div class="logo">
		<img src="/page_imgs/fixed_img/logo2.jpg">
	</div>
	<div class="contents">
		<p><span>사이다경제</span>는 2016년 5월 이래로 사람들에게 경제를 더 쉽게 알리기 위한 취지로 설립되어,
구독자들을 위하여 끊임없이 달려가고 있다.
지금 내심장을 크러쉬 베이베 이로써 평화롭던 내 인생은 안녕 좋아하게됐어 빠져들게됐어
이럴줄은 몰랐어 참나도내가놀라워 <span>사이다경제</span> oh my gosh 지금내심장을 크러쉬 베이베 쿵쾅쿵오우워
같은하늘 같은 시간 같은 곳에서 이젠 다른 사람 다른 사랑 만나고 있겠쬬오</p>
	</div>
</div>

<% include ../bottom %>
</body>
</html>
