<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cid_main</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_our_company.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cid_about.js"></script>
</head>
<body>
<div class="mob-header">
		<header class="container-fulid">
				<div class="mob-menu" align="left"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_menu.png"></div>
				<div class="mob-logo" align="center"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_logo.png"></div>
				<div class="mob-search" align="right"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_search.png"></div>
		</header>
</div>
<div id="menu">
		<div class="close"></div>
		<div class="nav">
				<ul>
						<li>콘텐츠</li>
						<li>재무상담</li>
						<li>소통공간</li>
						<li>ABOUT</li>
						<li>CONTACT</li>
				</ul>
		</div>
		<div onClick="history.back();" class="page_cover"></div>
		<div onClick="history.back();" class="close"></div> 
</div>
<div class="header">
		<header class="container">
				<div class="logo"><img src="/page_imgs/fixed_img/logo.jpg"></div>
				<div class="menu">
						<ul>
								<li>콘텐츠</li>
								<li>재무상담</li>
								<li>소통공간</li>
						</ul>
				</div>
				<div class="login">로그인 | 회원가입</div>
				<div class="search"><img src="/page_imgs/fixed_img/icon_search.png"></div>
		</header>
</div>

<div class="container company">
	<div class="title">
		<span>Our Company</span>
	</div>
	<div class="logo">
		<img src="/page_imgs/fixed_img/logo2.jpg">
	</div>
	<div class="contents">
		<p><span>사이다경제</span>는 2016년 5월 이래로 사람들에게 경제를 더 쉽게 알리기 위한 취지로 설립되어,
구독자들을 위하여 끊임없이 달려가고 있다.
지금 내심장을 크러쉬 베이베 이로써 평화롭던 내 인생은 안녕 좋아하게됐어 빠져들게됐어
이럴줄은 몰랐어 참나도내가놀라워 <span>사이다경제</span> oh my gosh 지금내심장을 크러쉬 베이베 쿵쾅쿵오우워
같은하늘 같은 시간 같은 곳에서 이젠 다른 사람 다른 사랑 만나고 있겠쬬오</p>
	</div>
</div>


<div class="web-footer">
		<div class="container">
				<div class="row">
						<div class="col-sm-1 logo"> <img src="/page_imgs/fixed_img/logo.jpg"> </div>
						<div class="col-sm-5 intro"><span>망설이지말고 주저하지말고 어서빨리<br>
								내게 다가와 꾸물대지말고 빙빙돌지말고<br>
								니사랑을 내게 모두 가져와<br>
								너랑 나랑 사랑하자 야이야이야이</span> </div>
						<div class="col-sm-3 about">
								<p>ABOUT</p>
								<div class="line-about"></div>
								<div class="about-con">
										<p>Our Company</p>
										<p>Our Team</p>
										<p>Approach</p>
								</div>
						</div>
						<div class="col-sm-3 ourworks">
								<p>OUR WORKS</p>
								<div class="line-about"></div>
								<div class="ourworks-con">
										<p>NAVER blog</p>
										<p>Tistory blog</p>
										<p>Facebook page</p>
										<p>KAKAOTALK Group chat</p>
								</div>
						</div>
				</div>
				<div class="line-1px"></div>
				<div class="row company-con">
						<div class="col-sm-2">
								<p>ⓒFORTT Co., Ltd</p>
						</div>
						<div class="col-sm-6">
								<p>Call. 010-0000-0000 대표 김의현 개인정보책임 김의현 주소 서울특별시 당산로 45길 7 502</p>
						</div>
						<div class="col-sm-4">
								<p>파트너 제휴문의 010-0000-0000 email. cidermics@naver.com</p>
						</div>
				</div>
		</div>
</div>
<div class="mob-footer">
		<div class="logo" align="center"><img src="/page_imgs/fixed_img/mob_icon_footer_logo.png"></div>
		<p>Call. 010-0000-0000 대표 김의현<br>
				개인정보책임 김의현<br>
				주소 서울특별시 당산로 45길 7 502</p>
</div>
</body>
</html>
