<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cid_main</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contact.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cid_about.js"></script>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>
<body>
	<% include ../top %>


<div class="contact" align="center">
	<div class="title">
		<span>Contact Us</span>
	</div>
	<div class="map">
		<div id="googleMap" style="width:100%; height:380px;"></div>
		<p>서울특별시 당산로 45길 7 502</p>
	</div>
	<div class="contents">
		<p class="title">STAFF</p>
		<p>CEO & Marketing and Communication</p>
		<span>김의현 cidermics@naver.com</span>
		<p>General Manager and Editor</p>
		<span>조석민 sukmin_Jo@naver.com</span>
		<p>Contact Number</p>
		<span>82+ 10-0000-000</span>
	</div>
</div>


<% include ../bottom %>
</body>
</html>
