<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cid_main</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_our_team.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	
	<% include ../top %>
	
<div class="container company">
		<div class="title"> <span>Our Team</span>
				<p>쉽게 읽는 경제 “사이다경제”의 <span>에디터팀</span>입니다!</p>
		</div>
		<div class="editor-intro">
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
								<h3>John Smith <small>Job Title</small> </h3>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
								<h3>John Smith <small>Job Title</small> </h3>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
								<h3>John Smith <small>Job Title</small> </h3>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
								<h3>John Smith <small>Job Title</small> </h3>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
								<h3>John Smith <small>Job Title</small> </h3>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
								<h3>John Smith <small>Job Title</small> </h3>
								<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
				</div>
		</div>
</div>

<% include ../bottom %>
</body>
</html>
