<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cid_main</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_commnication.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../top %>

<div class="container commnication">
<div class="row">
	<div class="col-xs-6" align="right"><img  width="75" src="/page_imgs/cmn_img/btn_debate.png"></div>
	<div class="col-xs-6" align="left"><img width="75" src="/page_imgs/cmn_img/click_btn_notice.png"></div>
</div>
	<div class="title">
		<span>공지게시판</span>
	</div>

</div>



<% include ../bottom %>
</body>
</html>
